$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';

@import '~bootstrap-sass/assets/stylesheets/bootstrap';

a {
  color: #85d3eb;
}

a:hover {
  color: #fff;
  text-decoration: none;
}

body {
  background-color: #0d0e1b;
  color: #fff;
  font-family: 'Comfortaa', cursive;
  text-align: center;
}

h1 {
  font-family: 'Comfortaa', cursive;
  font-size: 70pt;
  text-align: center;
  vertical-align: middle;
}

h2 {
  font-size: 48pt;
  text-align: center;
}

label {
  letter-spacing: 1px;
}

strong {
  font-weight: 700;
  font-size: 14pt;
  letter-spacing: 0.5pt;
}

footer {
  font-size: 9pt;
  color: gray;
}

footer a {
  color: gray;
}

.answer {
  padding: 20px;
}

.answer-container {
  min-height: 26px;
  clear: both;
}

.btn-line {
  background-color: #0d0e1b;
  border-color: #85d3eb;
  border-radius: 4px;
  color: #85d3eb;
  height: 34px;
}

.btn-line:focus {
  background-color: #0d0e1b;
  border-color: #85d3eb;
  border-radius: 4px;
  color: #85d3eb;
  height: 34px;
}

.btn-line:hover {
  background-color: #313038;
  border-color: #85d3eb;
  border-radius: 4px;
  color: #85d3eb;
  height: 34px;
}

.nav-form-item-dropdown {
  border: 1px solid #85d3eb;
  border-radius: 4px;
  height: 34px;
  margin-right: 10px;
  margin-left: 10px;
  margin-top: 10px;
}

.nav-form-item {
  padding-top: 7px;
}

.dropdown-menu {
  background-color: #313038;
  padding: 0 20px;
}

.form-area {
  padding: 15px 0;
  display: inline-block;
  min-width: 170px;
  text-align: left;
}

.panel-form-area {
  padding: 15px 0;
  // display: inline-block;
  min-width: 170px;
  // text-align: left;
}

.form-control {
  background-color: #0d0e1b;
  color: #fff;
  font-size: 12px;
}

.form-group {
}

.form-group-inline {
  display: inline-block;
}

.full-width-alert-container {
  height: 60px;
  // margin-top: 50px;
}

.location-list-container {
  margin: auto;
  padding-top: 15px;
}

.location-list-title {
  text-align: left;
}

.location-row {
  text-align: left;
}

.modal-content {
  background-color: #313038;
}

.modal-footer {
  text-align: center;
}

.tab-dark {
  background-color: #0d0e1b;
  color: #85d3eb;
}

.navbar-default {
  background-color: #0d0e1b;
  border-color: #0d0e1b;
}

.navbar-default .navbar-nav > li > a {
  color: #85d3eb;
}

.navbar-default .navbar-nav > .open > a {
  background-color: #313038;
  color: #85d3eb;
}

.navbar-default .navbar-nav > .open > a:focus {
  background-color: #313038;
  color: #85d3eb;
}

.navbar-default .navbar-nav > li > a:focus {
  color: #85d3eb;
}

.navbar-default .navbar-nav > li > a:hover {
  color: #85d3eb;
}

.navbar-nav > li > a {
  padding-top: 7px;
}

.nav-tabs > li > a {
  background-color: #0d0e1b;
  color: #85d3eb;
}

.nav-tabs > li > a:hover {
  background-color: #313038;
  color: #85d3eb;
}

.nav-tabs > li.active > a {
  background-color: #0d0e1b;
  color: #85d3eb;
}

.nav-tabs > li.active > a:hover {
  background-color: #313038;
  color: #85d3eb;
}

.nav-tabs > li.active > a:focus {
  background-color: #0d0e1b;
  color: #85d3eb;
}

.nav-tabs.nav-justified > .active > a {
  background-color: #0d0e1b;
  border-color: #85d3eb;
  border-bottom-color: #0d0e1b;
}

.nav-tabs.nav-justified > .active > a:focus {
  border-bottom-color: #0d0e1b;
}

.nav-tabs.nav-justified > .active > a:hover {
  border-bottom-color: #0d0e1b;
}

.nav-tabs.nav-justified > li > a {
  background-color: #0d0e1b;
  border-bottom: 1px solid #85d3eb;
}

.navbar-signout-changepw {
  position: absolute;
  right: 30px;
  top: 0;
}

.navbar-darksky {
  float: left;
  margin: 15px;
}

.check-boston-btn {
  float: left;
  margin-top: 7px;
}

.nav-tabs {
  // float: none
  display: inline-block;
}

.nav-sign-out-btn {
  margin-top: 10px;
}

.sign-in-sign-up-forms {
  display: inline-block;
  margin-top: 40px;
}

.table > tbody > tr > td {
  border-top: none;
}

.table-striped > tbody > tr:nth-of-type(odd) {
  background-color: #1B1A23;
}

.title-content {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 60vh;
  margin-top: 35px;
}

.title-bg-null {
  background-image: url(../../public/umbrellatoday_null.png);
}

.title-bg-no {
  background-image: url(../../public/umbrellatoday_no.png);
}

.title-bg-yes {
  background-image: url(../../public/umbrellatoday_yes.png);
}

.panel-default {
  background-color: #0d0e1b;
}

.panel-default > .panel-heading {
  background-color: #0d0e1b;
}

@media (min-width: 768px) {
  .panel-heading{
    display: none;
  }

  .panel {
    border: none;
    box-shadow: none;
  }

  .panel-collapse {
    height: auto;

    &.collapse {
      display: block;
    }
  }
}

@media (max-width: 768px) {
  footer {
    margin-top: 20px;
  }

  .query-name-p {
    margin-top: 15px;
  }

  .check-boston-btn {
    float: none;
  }

  .form-group-inline {
    width: 80vw;
  }

  .form-control {
    display: inline-block;
  }

  .full-width-alert-container {
    height: auto;
  }

  .navbar-nav .open .dropdown-menu {
    float: left;
  }

  .location-list-container {
    padding: 0 5px;
  }

  .navbar-darksky {
    float: none;
  }

  .navbar-collapse {
    background-color: #313038;
  }

  .navbar-signout-changepw {
    position: relative;
    right: auto;
    top: auto;
  }

  .navbar-fixed-top .navbar-collapse {
    max-height: 100vh;
  }

  .navbar-default .navbar-toggle:hover {
    background-color: #313038;
  }

  .navbar-default .navbar-toggle:focus {
    background-color: #313038;
  }

  .nav-tabs.nav-justified > .active > a {
    background-color: #313038;
    border-color: #85d3eb;
    border-bottom-color: #85d3eb;
  }

  .nav-tabs.nav-justified > .active > a:hover {
    background-color: #313038;
    border-color: #85d3eb;
    border-bottom-color: #85d3eb;
  }

  .nav-tabs.nav-justified > li > a {
    border-color: #313038;
  }

  .table-responsive {
    border-color: #0d0e1b;
  }

  .title-content {
    height: 40vh;
    margin-top: 40px;
  }

  .tab-content {
    .tab-pane {
      display: block;
    }
  }

  .nav-tabs {
    display: none;
  }

  .panel-title a {
    color: #fff;
    display: block;
  }

  .panel {
    margin: 0;
    box-shadow: none;
    border-radius: 0;
    margin-top: -2px;
  }

  .tab-pane {
    &:first-child {
      .panel {
        border-radius: 5px 5px 0 0;
      }
    }

    &:last-child {
      .panel {
        border-radius: 0 0 5px 5px;
      }
    }
  }

}
